@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Public Sans';
        src: local('Public Sans'), local('Public-Sans'), local('public sans'), local('public-sans'), url('/fonts/public-sans/PublicSans-VariableFont_wght.ttf');
        font-display: swap;
    }
}